 /* Three image containers (use 25% for four, and 50% for two, etc) */
.shop_column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.shop_column > a > p {
  margin-top: -5px;
}


/* Clear floats after image containers */
.shop_row::after {
  content: "";
  clear: both;
  display: table;
}

